
/****** Object:  StoredProcedure [dbo].[MENSAJERO_FAC_INSERT_ENCABEZADO]    Script Date: 15/09/2020 11:12:12 ******/
DROP PROCEDURE [dbo].[MENSAJERO_FAC_INSERT_ENCABEZADO]
GO
/****** Object:  StoredProcedure [dbo].[MENSAJERO_FAC_INSERT_ENCABEZADO]    Script Date: 15/09/2020 11:12:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[MENSAJERO_FAC_INSERT_ENCABEZADO]
	@CODMOV VARCHAR(10),
	@NROMOV NUMERIC(18),
	@CTEORI VARCHAR(10),
	@FCHMOV DATETIME,
	@NROCTA NUMERIC(18),
	@NROSUB NUMERIC(18),
	@NOMBRE VARCHAR(255),
	@DIRECCION VARCHAR(255),
	@LOCALIDAD VARCHAR(255),
	@PROVINCIA VARCHAR(255),
	@CNDIVA VARCHAR(10),
	@NRCUIT VARCHAR(13),
	@CNDPAG VARCHAR(1),
	@IDVENDEDOR VARCHAR(10),
	@USUARIO VARCHAR(255),
	@IDFACTURA NUMERIC(18)
AS

if @NROSUB = 0 set @NROSUB = @NROCTA

INSERT INTO dbo.FacturasEnc (CodMov, NroMov, CteOri, FchMov, FchRep, FchVnc, FchCaj, NroCta, NroSub, 
Nombre, Direcc, Locali, Provin, CndIva, NrCUIT, CndPag, CodLis, ZonaVT, Vnddor, Cobrador, Ubicacion, 
Activd, Catego, Caraba, Municp, Refere, 
Nota01, Nota02, Nota03, Nota04, Nota05, Nota06, Nota07, Nota08, Nota09, Nota10, Atrib0, 
Atrib1, Atrib2, Atrib3, Atrib4, Atrib5, Atrib6, Atrib7, Atrib8, Atrib9, USUARIO,IDFACTURA)
VALUES (@CODMOV, @NROMOV, @CTEORI, @FCHMOV, @FCHMOV, @FCHMOV,@FCHMOV, @NROCTA, @NROSUB, @NOMBRE, @DIRECCION,
 @LOCALIDAD, @LOCALIDAD, @CNDIVA, @NRCUIT, @CNDPAG, NULL, NULL, @IDVENDEDOR, NULL, NULL, '', '', NULL, NULL, NULL, 
NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL,
 @USUARIO,@IDFACTURA)



GO
