
/****** Object:  StoredProcedure [dbo].[MENSAJERO_FAC_GET_DATOS_PEDIDO]    Script Date: 15/09/2020 11:12:12 ******/
DROP PROCEDURE [dbo].[MENSAJERO_FAC_GET_DATOS_PEDIDO]
GO
/****** Object:  StoredProcedure [dbo].[MENSAJERO_FAC_GET_DATOS_PEDIDO]    Script Date: 15/09/2020 11:12:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--MENSAJERO_FAC_GET_DATOS_PEDIDO 19657220
CREATE PROCEDURE [dbo].[MENSAJERO_FAC_GET_DATOS_PEDIDO]
	@IDPEDIDO NUMERIC(18)
AS

DECLARE @FECHA VARCHAR(10)
SET NOCOUNT ON;
SET @FECHA = ISNULL((SELECT CONVERT(VARCHAR(10),FECHA_FACTURA,103) 
						FROM ws_feriados_facturas 
						WHERE fecha_feriado = CONVERT(VARCHAR(10),GETDATE(),112) ),
						CONVERT(VARCHAR(10),GETDATE(),103))
SET NOCOUNT OFF;

SELECT P.IDPEDIDO,IDVENDEDOR,FECHA_PEDIDO,FECHA=@FECHA,NROCTA,NROSUB=isnull(NROSUB,0),NOMBRE,DIRECC,LOCALIDAD=L.DESCRIPCION,PROVINCIA=R.DESCRIPCION,
D.IDPRODUCTO ,PR.DESCRIPCION,CANTIDAD,PRECIO,CONCEPTOVENTA =CASE ISNULL(PR.CPTVTA,'A01') WHEN '' THEN 'A01' ELSE ISNULL(PR.CPTVTA,'A01') END,
TASAIVA = ISNULL(I.TASAPC,21),C.CNDIVA,c.cndpag,SUCURSAL_COMPROBANTE= '0010',NOMBREFISCAL,DOMICILIOFISCAL,LOCALIDADFISCAL,TIPO_FACTURA = ISNULL(TIPO_FACTURA,0),NRCUIT,
pr.impuesto_interno,neto=convert(numeric(18,3),((cantidad*precio) / (1 + ((ISNULL(I.TASAPC,21) + pr.impuesto_interno) / 100)))),
subtotal =convert(numeric(18,3),cantidad*precio),
iva=case I.TASAPC when 0 then 0 else convert(numeric(18,3),(((cantidad*precio) / (1 + ((ISNULL(I.TASAPC,21) + pr.impuesto_interno) / 100))))* (ISNULL(I.TASAPC,21)/100))end,
ii =case pr.impuesto_interno when 0 then 0 else convert(numeric(18,3),(cantidad*precio)* (pr.impuesto_interno/100))end,
IVATIPO=IMPEXP,
cobrado = isnull((select top 1 importe from movimientos_caja where idpedido = p.idpedido and idcliente = p.idcliente and importe <0),0),
nro_recibo = isnull((select top 1 Nro_Recibo from movimientos_caja where idpedido = p.idpedido and idcliente = p.idcliente and importe <0 and nro_recibo <> ''),0)

INTO #MENS_PEDIDOS_A_FACTURAR
FROM PEDIDOS P
INNER JOIN PEDIDOS_PRODUCTOS D ON D.IDPEDIDO = P.IDPEDIDO
INNER JOIN CLIENTES C ON C.NROCTA = P.IDCLIENTE
INNER JOIN LOCALIDADES L ON L.ID = C.IDLOCALIDAD
INNER JOIN PROVINCIAS R ON R.IDPROV = C.IDPROVINCIA
LEFT JOIN PRODUCTOS PR ON PR.IDPRODUCTO = D.IDPRODUCTO
LEFT JOIN IVA_PRODUCTOS I ON I.IDPRODUCTO = D.IDPRODUCTO AND I.CNDIVA = C.CNDIVA
INNER JOIN IVA IV ON IV.CODIGO = C.CNDIVA
WHERE FECHA_PEDIDO >= CONVERT(VARCHAR(10),GETDATE()-1,112)AND 
FACTURA IN ('A','B')
AND NOT D.IDPRODUCTO IN ('IIBB','IIBB2')
--AND ISNULL(GENERA_FACTURA_ELECTRONICA,0) = 1
--and (ISNULL(REQUIERE_COMPROBANTE,0) + (case periodo_facturacion when 'S' then 1 else 0 end)) = 2
AND P.IDPEDIDO = @IDPEDIDO
AND (SELECT COUNT (*) FROM CTESRELACIONES WHERE NROPED = P.IDPEDIDO AND (NROFAC <> 0 OR NROREM <> 0)) = 0
AND  STATUS IS NULL

ORDER BY FECHA_PEDIDO

UPDATE #MENS_PEDIDOS_A_FACTURAR SET NOMBRE= NOMBREFISCAL WHERE  NOMBREFISCAL <> ''
UPDATE #MENS_PEDIDOS_A_FACTURAR SET DIRECC= DOMICILIOFISCAL WHERE  DOMICILIOFISCAL <> ''
UPDATE #MENS_PEDIDOS_A_FACTURAR SET LOCALIDAD= LOCALIDADFISCAL WHERE LOCALIDADFISCAL <> ''

UPDATE #MENS_PEDIDOS_A_FACTURAR SET NOMBRE= isnull((SELECT NOMBREFISCAL 
											FROM CLIENTES 
											WHERE NROCTA = #MENS_PEDIDOS_A_FACTURAR.NROSUB 
											and rtrim(ltrim(isnull(NOMBREFISCAL,''))) <> ''),nombre)  
WHERE TIPO_FACTURA = 0 AND ISNULL(NROSUB,0) <> 0


UPDATE #MENS_PEDIDOS_A_FACTURAR SET DIRECC= isnull((SELECT DOMICILIOFISCAL 
											FROM CLIENTES 
											WHERE NROCTA = #MENS_PEDIDOS_A_FACTURAR.NROSUB 
											and rtrim(ltrim(isnull(DOMICILIOFISCAL,''))) <> ''),DIRECC)  
WHERE TIPO_FACTURA = 0 AND ISNULL(NROSUB,0) <> 0


UPDATE #MENS_PEDIDOS_A_FACTURAR SET LOCALIDAD= isnull((SELECT LOCALIDADFISCAL 
											FROM CLIENTES 
											WHERE NROCTA = #MENS_PEDIDOS_A_FACTURAR.NROSUB 
											and rtrim(ltrim(isnull(LOCALIDADFISCAL,''))) <> ''),LOCALIDAD)  
WHERE TIPO_FACTURA = 0 AND ISNULL(NROSUB,0) <> 0


--UPDATE #MENS_PEDIDOS_A_FACTURAR SET NOMBRE= (SELECT CASE NOMBREFISCAL WHEN '' THEN NOMBRE  
--											ELSE NOMBREFISCAL END 
--											FROM CLIENTES 
--											WHERE NROCTA = #MENS_PEDIDOS_A_FACTURAR.NROSUB)  
--WHERE TIPO_FACTURA = 0 AND ISNULL(NROSUB,0) <> 0


--UPDATE #MENS_PEDIDOS_A_FACTURAR SET DIRECC= (SELECT CASE DOMICILIOFISCAL WHEN '' THEN DIRECC  
--											ELSE DOMICILIOFISCAL END 
--											FROM CLIENTES 
--											WHERE NROCTA = #MENS_PEDIDOS_A_FACTURAR.NROSUB)  
--WHERE TIPO_FACTURA = 0 AND ISNULL(NROSUB,0) <> 0


--UPDATE #MENS_PEDIDOS_A_FACTURAR SET LOCALIDAD= (SELECT CASE LOCALIDADFISCAL WHEN '' THEN LOCALI  
--											ELSE LOCALIDADFISCAL END 
--											FROM CLIENTES 
--											WHERE NROCTA = #MENS_PEDIDOS_A_FACTURAR.NROSUB)  
--WHERE TIPO_FACTURA = 0 AND ISNULL(NROSUB,0) <> 0

UPDATE #MENS_PEDIDOS_A_FACTURAR SET NRCUIT= ISNULL((SELECT NRCUIT FROM CLIENTES 
											WHERE NROCTA = #MENS_PEDIDOS_A_FACTURAR.NROSUB),NRCUIT)
WHERE TIPO_FACTURA = 0 AND ISNULL(NROSUB,0) <> 0

UPDATE  #MENS_PEDIDOS_A_FACTURAR 
SET PRECIO = case TASAIVA when 0 then PRECIO 
else convert(numeric(18,3),(((precio) / (1 + ((ISNULL(TASAIVA,21) + impuesto_interno) / 100)))))end,
SUBTOTAL = NETO 
WHERE IVATIPO = 'E'


SELECT * FROM #MENS_PEDIDOS_A_FACTURAR




GO
