/****** Object:  StoredProcedure [dbo].[MENSAJERO_FAC_INSERT_RECIBO_FACTURACIONCIERRES]    Script Date: 15/09/2020 11:12:12 ******/
DROP PROCEDURE [dbo].[MENSAJERO_FAC_INSERT_RECIBO_FACTURACIONCIERRES]
GO
/****** Object:  StoredProcedure [dbo].[MENSAJERO_FAC_INSERT_RECIBO_FACTURACIONCIERRES]    Script Date: 15/09/2020 11:12:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[MENSAJERO_FAC_INSERT_RECIBO_FACTURACIONCIERRES]
	@IDPEDIDO NUMERIC(18),
	@CODMOV VARCHAR(10),
	@NROMOV NUMERIC(18),
	@FCHMOV DATETIME,
	@idvendedor INT,
	@NROCTA NUMERIC(18)
AS


INSERT INTO FACTURAELECTRONICA_MOVIL (IDPEDIDO,IDFACTURA,CODMOV,NROMOV,FECHA)
VALUES(@IDPEDIDO,0,@CODMOV,@NROMOV,GETDATE())

---AGREGADO PARA SOLUCIONAR ERROR DE RECIBO NO AGREGADOS EN CIERRE DE REPARTOS
update frmvtas set UltNum=@NROMOV where codigo=@CODMOV

--INSERT INTO FACTURACIONCIERRES (Fecha_Reparto,IdReparto,Nrocta,CodMov,NROMOV)
--VALUES(@FCHMOV,@idvendedor,@NROCTA,@CODMOV,@NROMOV)

GO
