
/****** Object:  StoredProcedure [dbo].[MENSAJERO_FAC_INSERT_ITEM]    Script Date: 15/09/2020 11:12:12 ******/
DROP PROCEDURE [dbo].[MENSAJERO_FAC_INSERT_ITEM]
GO
/****** Object:  StoredProcedure [dbo].[MENSAJERO_FAC_INSERT_ITEM]    Script Date: 15/09/2020 11:12:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[MENSAJERO_FAC_INSERT_ITEM]
	@CODMOV VARCHAR(10),
	@NROMOV NUMERIC(18),
	@ITEM INT,
	@TIPCOD CHAR(1),
	@IDPRODUCTO VARCHAR(10),
	@DESCRIPCION VARCHAR(255),
	@CANTIDAD NUMERIC(18),
	@PRECIO NUMERIC(18,3),
	@SUBTOTAL NUMERIC(18,3),
	@debhab CHAR(1),
	@IMPIVA NUMERIC(18,3),
	@impinterno NUMERIC(18,3),
	@IDFACTURA NUMERIC(18)
AS

INSERT INTO dbo.FacturasItem (CodMov, NroMov, NrItem, TipCod, Codigo, Descrp, UniMed, UniFac, Precio, PctDes, Import, ImpOri, 
TasaPC, DebHab, CauEmi, UniRes, FacRes, ImpIva, ImpInterno,IDFACTURA)
VALUES (@CODMOV, @NROMOV, @ITEM, @TIPCOD, @IDPRODUCTO, @DESCRIPCION, @CANTIDAD, @CANTIDAD, @PRECIO, NULL, @SUBTOTAL, NULL, 
		NULL, @debhab, '', NULL, NULL, @IMPIVA, @impinterno,@IDFACTURA)




GO
