
/****** Object:  StoredProcedure [dbo].[MENSAJERO_FAC_SET_STATUS_PEDIDO]    Script Date: 15/09/2020 11:12:12 ******/
DROP PROCEDURE [dbo].[MENSAJERO_FAC_SET_STATUS_PEDIDO]
GO
/****** Object:  StoredProcedure [dbo].[MENSAJERO_FAC_SET_STATUS_PEDIDO]    Script Date: 15/09/2020 11:12:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[MENSAJERO_FAC_SET_STATUS_PEDIDO]
	@IDPEDIDO NUMERIC(18),
	@SUCURSAL VARCHAR(10),
	@CTEORI VARCHAR(10),
	@CODMOV VARCHAR(10),
	@NROMOV NUMERIC(18),
	@IDFACTURA NUMERIC(18)
AS

UPDATE FACTURASNUMERACION 
SET CTEORI =@CTEORI, CODMOV = @CODMOV, NROMOV = @NROMOV
WHERE IDFACTURA = @IDFACTURA


UPDATE FE_CALCULOFACTURA 
SET SUCURSAL =@SUCURSAL,CTEORI =@CTEORI, CODMOV = @CODMOV, NROMOV = @NROMOV
WHERE IDFACTURA = @IDFACTURA

UPDATE PEDIDOS 
SET STATUS = 'FA'
--,NRO_COMPROBANTE = @NROMOV
WHERE IDPEDIDO = @IDPEDIDO

INSERT INTO CTESRELACIONES(CODPED,NROPED,CODREM,NROREM,CODFAC,NROFAC,CodNCr,NroNCr,CodNDb,NroNDb,IDFACTURA )
VALUES('PE',@IDPEDIDO,'',0,@CODMOV,@NROMOV,'',0,'',0,@IDFACTURA)


UPDATE FRMVTAS SET ULTNUM = @NROMOV WHERE CODIGO = @CODMOV

INSERT INTO FACTURAELECTRONICA_MOVIL (IDPEDIDO,IDFACTURA,CODMOV,NROMOV,FECHA)
VALUES(@IDPEDIDO,@IDFACTURA,@CODMOV,@NROMOV,GETDATE())

INSERT INTO facturasaudita (CODMOV,NROMOV,FCHMOV,HorMov,Accion,UserId,idfactura)
VALUES (@CODMOV,@NROMOV,CONVERT(VARCHAR(10),GETDATE(),103),
		CONVERT(VARCHAR(10),GETDATE(),108),'Factura Elect en calle','Facturador',@IDFACTURA)

GO
