
/****** Object:  StoredProcedure [dbo].[MENSAJERO_FAC_INSERT_SUBDIAVT]    Script Date: 15/09/2020 11:12:12 ******/
DROP PROCEDURE [dbo].[MENSAJERO_FAC_INSERT_SUBDIAVT]
GO
/****** Object:  StoredProcedure [dbo].[MENSAJERO_FAC_INSERT_SUBDIAVT]    Script Date: 15/09/2020 11:12:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[MENSAJERO_FAC_INSERT_SUBDIAVT]
	@CODMOV VARCHAR(6),
	@NROMOV NUMERIC(18),
	@ITEM INT,
	@CONCEPTO VARCHAR(3),
	@DEBHAB CHAR(1),
	@IMPORTE NUMERIC(18,2),
	@IDFACTURA NUMERIC(18)

AS

INSERT INTO dbo.SubDiaVT (CodMov, NroMov, NrItem, CodCpt, Import, DebHab,IDFACTURA)
VALUES (@CODMOV, @NROMOV, @ITEM, @CONCEPTO,@IMPORTE, @DEBHAB ,@IDFACTURA)




GO
