
/****** Object:  StoredProcedure [dbo].[MENSAJERO_FAC_GET_PEDIDOS_A_FACTURAR]    Script Date: 15/09/2020 11:12:12 ******/
DROP PROCEDURE [dbo].[MENSAJERO_FAC_GET_PEDIDOS_A_FACTURAR]
GO
/****** Object:  StoredProcedure [dbo].[MENSAJERO_FAC_GET_PEDIDOS_A_FACTURAR]    Script Date: 15/09/2020 11:12:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[MENSAJERO_FAC_GET_PEDIDOS_A_FACTURAR]
AS
SELECT P.IDPEDIDO,IDVENDEDOR,FECHA_PEDIDO
FROM PEDIDOS P
INNER JOIN PEDIDOS_PRODUCTOS D ON D.IDPEDIDO = P.IDPEDIDO
INNER JOIN CLIENTES C ON C.NROCTA = P.IDCLIENTE
INNER JOIN LOCALIDADES L ON L.ID = C.IDLOCALIDAD
INNER JOIN PROVINCIAS R ON R.IDPROV = C.IDPROVINCIA
INNER JOIN PRODUCTOS PR ON PR.IDPRODUCTO = D.IDPRODUCTO
LEFT JOIN IVA_PRODUCTOS I ON I.IDPRODUCTO = D.IDPRODUCTO AND I.CNDIVA = C.CNDIVA
WHERE FECHA_PEDIDO >= CONVERT(VARCHAR(10),GETDATE(),112)
AND DATEPART(HOUR,GETDATE()) < 21
--AND IDVENDEDOR IN (27)
AND FACTURA IN ('A','B')
AND NRO_COMPROBANTE = 0
--AND ISNULL(GENERA_FACTURA_ELECTRONICA,0) = 1
AND (SELECT COUNT (*) FROM CTESRELACIONES WHERE NROPED = P.IDPEDIDO AND (NROFAC <> 0 OR NROREM <> 0)) = 0
AND NOT P.IDPEDIDO IN (SELECT IDPEDIDO FROM FACTURAELECTRONICA_MOVIL)
AND (SELECT COUNT(*) FROM FACTURASENC E 
	INNER JOIN CTESRELACIONES R ON R.CODFAC = E.CODMOV AND R.NROFAC = E.NROMOV
	WHERE NROCTA = P.IDCLIENTE AND FCHMOV = CONVERT(VARCHAR(10),FECHA_PEDIDO,112) AND NROPED <> 0) = 0
GROUP BY P.IDPEDIDO,IDVENDEDOR,FECHA_PEDIDO
ORDER BY FECHA_PEDIDO





GO
