
ALTER PROCEDURE [dbo].[EXPORTADOR_AFIP_INICIALIZAR_TAREAS]
	@TAREA VARCHAR(100)
AS
	DECLARE @@EXISTE NUMERIC(4)
	SET @@EXISTE = (SELECT COUNT(*) FROM ConfigExportadorAfip WHERE TAREA = @TAREA)

	IF @@EXISTE = 0
	BEGIN
		INSERT INTO ConfigExportadorAfip(TAREA,TOMADO,PROGRAMACION,TAREA2,TAREA3,TAREA4)
		VALUES(@TAREA,0,0,'','','')
	END


	UPDATE ConfigExportadorAfip SET TOMADO = 1,PROGRAMACION = GETDATE() WHERE TAREA = @TAREA

	SELECT CODIGO,TAREA,TOMADO,PROGRAMACION = ISNULL(PROGRAMACION,0),TAREA2 = ISNULL(TAREA2,''), TAREA3 = ISNULL(TAREA3,''),TAREA4 = ISNULL(TAREA4,'') 
	FROM ConfigExportadorAfip WHERE TAREA = @TAREA