
ALTER PROCEDURE [dbo].[EXPORTADOR_AFIP_GUARDAR_TAREAS]
	@CODIGO NUMERIC(4),
	@TAREA VARCHAR(100),
	@TOMADO NUMERIC(1),
	@PROG DATETIME,
	@TAREA2 VARCHAR(100),
	@TAREA3 VARCHAR(100),
	@TAREA4 VARCHAR(100)
AS
	UPDATE ConfigExportadorAfip SET 
	TOMADO = @TOMADO,
	PROGRAMACION = @PROG, 
	TAREA2 = @TAREA2,  
	TAREA4 = @TAREA4
	WHERE codigo = @codigo